<div class="container api-prepare">
  <section>
    <h1>Api BankKing <span id="version">{version}</span></h1>
    <code>[ Base URL: {baseURL}/ ]</code>
  </section>
</div>

<div class="container api-prepare">
  <section>
    <h1>Documentação da API BankKing</h1>
    <p>Todas as APIs necessitam de um parâmetro 'version', este parâmetro deve ser definido como 0</p>
  </section>
</div>